fastapi==0.110.2
uvicorn==0.30.5
python-dotenv==1.0.1
firebase-admin==6.6.0
google-api-python-client==2.167.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
google-ai-generativelanguage
google-generativeai
langchain
langchain-core
langchain-google-genai
langchain-openai
langgraph
line-bot-sdk==3.5.1
pydantic==2.7.4
httpx==0.27.0
python-multipart==0.0.9
